<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6" id="container-left">
      <%#Container-left %>
      <%#Search Form %>
      <div id="search-box" class="input-group d-flex mt-5">
        <%= form_tag meals_path, class:"d-flex shadow-lg bg-secondary",id: "search-form", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control-lg",
          id: 'input-field',
          placeholder: "Find a meal"
        %>
        <%= submit_tag "Search", class: "btn btn-lg btn-light", id: 'search-button' %>
        <% end %>
      </div>
      <%#End %>
      <%#Cards%>
      <%@results.each do |result|  %>
      <div id="display-card" data-id="<%=result.id%>">
        <%if result.photo.attached? %>
          <%= cl_image_tag result.photo.key , class: "card-img"%>
        <% else %>
          <%= image_tag("baguettes" , class: "card-img")%>
        <% end %>
        <div class="card-infos">
          <%= link_to result.name, meal_path(result), class: "h1 text-secondary" %>
          <p class="result-description"><%= result.description %></p>
          <p class="result-price bg-success p-4"><%= result.price %></p>
        </div>
      </div>
      <% end %>
      <%#End %>
    </div>
    <div class="col-12 col-md-6 mt-3" id="container-right">
      <%#Map Form %>
      <div id="map" class="my-4 shadow-lg" data-markers="<%= @markers.to_json %>" <%# Javascript expected an array%>
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <%#End %>
    </div>
  </div>
</div>
