
<div class="card-show" style="background-image: url(<%= @meal.photo.attached? ? cl_image_path(@meal.photo.key) : image_path('baguettes') %>)">
  <%= @meal.name %>
</div>





<h1> <%= @meal.name %> </h1>
<h2> <%= @meal.description %> </h2>
<p> <%= @meal.price %> $</p>


<%= link_to 'Order Now', meal_orders_path(@meal), method: :post, data: { confirm: "Are you sure you want to order #{@meal.name}?" } %>


<%= link_to "BACK TO THE MENU", meals_path %>


