<div class="card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <%= @meal.name %>
</div>





<h1> <%= @meal.name %> </h1>
<h2> <%= @meal.description %> </h2>
<p> <%= @meal.price %> $</p>


<%= link_to "ORDER THIS MEAL", meals_path %>


<%= link_to "BACK TO THE MENU", meals_path %>

