<div class="background">

<% if @marker %>
      <div id="map"
        class = "my-4"
        style="width: 100%; height: 300px;"
        data-markers="<%= [@marker].to_json %>" <%# Javascript expected an array%>
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    <% end %>
<div class="intro-banner mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <img src="<%= @meal.photo.attached? ? cl_image_path(@meal.photo.key) : image_path('baguettes') %>" alt="">
      </div>
      <div class="col-12 col-md-4">
        <h1 class="display-3 mt-3"><%= @meal.name %></h1>
        <p><%= @meal.description %></p>
        <p class= "display-4 text-center text-white bg-success"><%= @meal.price %> AUD</p>
        <%= link_to 'Order Now', meal_orders_path(@meal), method: :post , class: "btn btn-success"%>
        <%= link_to "BACK TO THE MENU", meals_path, class: "btn btn-secondary"%>
      </div>
    </div>
  </div>
</div>

</div>
